.rootContainer{
    /* style */
    background-color: white;
    border-radius: 10px;
    border: 1px solid grey;

    /* size */
    width: 28%;
    margin-top: 7%;
}

.imgLogo{
    /* Style */
    border-radius: 12px;

    /* size */
    margin-top: 5%;
    margin-left: 25%;
    margin-bottom: 5%;
}

.labelMisc{
    padding: 0 10%;
}

.inputMisc{
    /* style */
    border: 1px solid grey;
    
    /* size */
    width: 80%;
    margin-left: 9%;
}

.btnMisc{
    margin-left: 35%;
    margin-bottom: 3%;
    padding-left: 8%;
    padding-right: 8%;
}

.link{
    margin-left: 17%;
}