.main-header{
  /* style */
  background-color: black;

  /* size */
  padding-bottom: 3%;
  padding-top: 3%;
}

.logo{
  margin-left: 4%;
  margin-right: 4%;
}

.fa-book,
.fa-magnifying-glass,
.fa-book-medical,
.fa-users,
.fa-user-plus,
.fa-clock-rotate-left,
.fa-receipt,
.fa-basket-shopping,
.fa-clipboard-check,
.fa-percent,
.fa-money-bill-trend-up,
.fa-user-gear,
.fa-user-tie,
.fa-right-from-bracket{
  color: rgb(173, 157, 10);
}

.nav-link, .dropdown-item, .nav-link:hover, .dropdown-item:hover{
  color: rgba(255, 255, 255, 0.685);
  background-color: black;
}

.dropdown-menu{
  background-color: rgb(0, 0, 0);
}

.nome-empregado{
  color: rgb(173, 157, 10);
}

.img-empregado{
  border-radius: 30px;
}
